{% extends 'base.html' %}<!doctype html>
{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Group Air Form{% endblock title %}

{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid">
<h1>Add New Group Air</h1>
<p>Fill out the fields below.</p>

<form method = 'POST'>
    {% csrf_token %}
    {% crispy form form.helper %}

    <input class="btn btn-success" type="submit" value="Add Flight Leg" />
</form>
</div>
{% else %}
 <form class="form-inline ml-auto">
    <a href="{% url 'login' %}" class="btn btn-outline-secondary">
      Log In</a>
    <a href="{% url 'signup' %}" class="btn btn-primary ml-2">
      Sign up</a>
</form>
{% endif %}
{% endblock content %}
