{% extends 'base.html' %}<!doctype html>

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Add Ground Option{% endblock title %}

{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid">
<h1>Add Ground Option</h1>
<p>This should be harmless...</p>



<form method = 'POST'>
    {% csrf_token %}
    {% crispy form form.helper %}
    
    <input class="btn btn-success" type="submit" value="Add Ground Option" />
</form>
</div>
{% else %}
 <form class="form-inline ml-auto">
    <a href="{% url 'login' %}" class="btn btn-outline-secondary">
      Log In</a>
    <a href="{% url 'signup' %}" class="btn btn-primary ml-2">
      Sign up</a>
</form>
{% endif %}
{% endblock content %}
