{% extends 'base.html' %}<!doctype html>

{% load static %}


{% block title %} List of Estimates {% endblock title %}

{% block content %}
<div class="container my-5" style="color: #212529">
    <h1><strong><center>Estimate List</center></strong></h1>
</div>
<div class="container">
{% if user.is_authenticated %}
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th><h3><strong>ESTIMATE NAME</strong></h3></th>
            <th><h3><strong>TRAVEL DATE</strong></h3></th>
            <th><h3><strong>ACTIONS</strong></h3></th>
        </tr> 
        </thead>
        <tbody>
            {% for item in estimate_list %}
            <tr>
                <th><h5><a href="/details-estimate/{{ item.estimate_id }}/" \
                style="color: teal">{{ item.estimate_name }}</a></h5></th>
                <th><h5>{{ item.start_date }}</h5></th>
                <th><span style="padding-left: 15px"><a href="/update-estimate-form/{{ item.estimate_id }}/edit" \
                id="update_estimate_form">
                <i class="fa fa-lg fa-pencil text-info"></i></a></span>
                <span style="padding-left: 20px"><a href="/details-estimate-output/{{ item.estimate_id }}/?format=pdf" \
                id="details_estimate_output" target="_blank">
                <i class="fa fa-lg fa-file-pdf-o text-info"></i></a></span>
                
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<p>You are not logged in</p>
<p><a href="{% url 'login' %}">Log In</a></p>
<p><a href="{% url 'signup' %}">Sign Up </a></p>
</div>
{% endif %}
{% endblock content %}
